<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @task.user_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @task.course %>
</p>

<p>
  <strong>Due Date:</strong>
  <%= @task.dueDate %>
</p>

<p>
  <strong>Estimated Time:</strong>
  <%= @task.estTime %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<p>
  <strong>Priority Level:</strong>
  <%= @task.priority %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
